#wrapper {
    padding: 20px;
}

h1 {
    text-align: center;
}

.left {
    float: left;
    width: 39%;
    margin-left: 10%;
    border: 1px solid #CCC;
    height: 700px;
    overflow: auto;
}

.right {
    float: right;
    width: 39%;
    margin-right: 10%;
    border: 1px solid #CCC;
}

@media screen and (max-device-width:768px) {
    #wrapper {
        padding: 20px 6px;
    }
    .left {
        width: 48%;
        margin-left: 0px;
    }
    .right {
        width: 48%;
        margin-right: 0px;
    }
}