button {
    background-color: blue;
    color: white;
    font-size: 11pt;
    font-weight: bold;
    padding: 7px 12px;
    border-radius: 6px;
    margin: 20px;
}

img {
    border-radius: 50%;
    vertical-align: middle;
    padding: 0 12px;
    width: 40px;
}

a {
    cursor: pointer;
    display: block;
    margin: 3px;
}
.left {
    float: left;
    width: 39%;
    margin-left: 10%;
    border: 1px solid #CCC;
    height: 700px;
    overflow: auto;
}

.DE{
    border:2px solid black;
}
